<a href="https://colab.research.google.com/github/MaksFonyak/DomZadanie/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
df - pd.read_csv("/content/sample_data/california_housing_train.csv")

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
16995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# Задача 1
# Работать с файлом california_housing_train.csv,
# который находится в папке sample_data.
# Определить среднюю стоимость дома, где кол-во людей от 0 до 500 (population)

In [14]:
df[
    df["median_house_value"]
].population < 500

KeyError: ignored

In [15]:
# Задача 2
# Узнать какая максимальная households в зоне минимального значения population


max_households = df.households.max()
df[
    df['households'] == max_households
].population.min

<bound method NDFrame._add_numeric_operations.<locals>.min of 12772    28566.0
Name: population, dtype: float64>